<footer class="footer bg-dark py-3 mt-auto">
	<div class="container d-flex justify-content-center">
		<span class="text-bg-dark d-block opacity-50">&copy; Around the sweet world 2023</span>
	</div>
</footer>